name: Publish via Maven Central

on:
  # 新发布触发
  release:
    types: [ published ]

  # 手动触发
  workflow_dispatch:
    inputs:
      tag:
        description: 'Release tag (e.g., v1.0.0)'
        required: true
        type: string

jobs:
  publish-maven-central:
    runs-on: ubuntu-latest
    steps:
      - name: Check out Git repository
        uses: actions/checkout@v4

      - name: Install Java and Maven
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'

      - name: Publish to the Maven Central Repository
        uses: samuelmeuli/action-maven-publish@v1
        with:
          maven_profiles: 'deploy'
          maven_goals_phases: 'clean deploy'
          maven_args: "-DskipTests -Dspotbugs.skip -Dcheckstyle.skip -pl '!test/datacap-test-condor,!test/datacap-test-convert,!test/datacap-test-core,!test/datacap-test-lib,!test/datacap-test-executor,!test/datacap-test-scheduler,!test/datacap-test-fs,!test/datacap-test-driver,!test/datacap-test-parser,!test/datacap-test-plugin'"
          gpg_private_key: ${{ secrets.GPG_SECRET }}
          gpg_passphrase: ${{ secrets.GPG_PASSWORD }}
          nexus_username: ${{ secrets.OSSRH_USERNAME }}
          nexus_password: ${{ secrets.OSSRH_TOKEN }}
